.sc-controls {
	position: absolute;
	bottom: 30px;
	right: 30px;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	padding: 8px 20px;
	border-radius: 10px;
	box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, .17), 0 0 0 6px rgba(255, 255, 255, 0.1);
	width: auto;
	display: inline-block;
	text-align: center;
}

.city-pag-init {
	width: auto !important;
	max-width: fit-content !important;
	left: auto !important;
	right: 30px !important;
}

.sc-controls.shc_controls2 {
	right: auto;
	left: 270px;
	bottom: 14px;
	background: none;
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .1);
}

.sc-controls.shc_controls2.shc_controls3 {
	left: 370px;
}

.sc-controls .swiper-pagination-bullet {
	background: none;
	position: relative;
	margin: 0 10px !important;
	height: 6px;
	opacity: 1;
}

.sc-controls .swiper-pagination-bullet:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	width: 6px;
	border-radius: 100%;
	background: #fff;
	margin-left: -3px;
	transition: all 0.5s ease;
}

.sc-controls .swiper-pagination-bullet:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 22px;
	height: 22px;
	margin: -11px 0 0 -11px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 100%;
	transition: all .3s ease;
	transform: scale(0.0);
}

.sc-controls .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
	background: var(--main-color);
}

.sc-controls .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
	transform: scale(1.0);
}
