.price-range-wrap {
	margin-top: 10px;
	background: #f9f9f9;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 0 20px 16px 110px;
}

.custom-form .price-range-wrap {
	margin-top: 0;
	transition: all .3s linear;
	border-radius: 4px;
	padding: 0 20px 14px 110px;
}

.custom-form .price-range-wrap:hover {
	box-shadow: 0px 10px 14px 0px rgba(12, 0, 46, 0.04);
	background: #fff;
}

.irs-from,
.irs-single,
.irs-to {
	background: #000;
}

.price-range-wrap label {
	position: absolute;
	top: 20px;
	left: 20px;
	text-align: left;
	color: #666;
	font-size: .9em;
}

.price-range-wrap .price-range-double,
.price-range-wrap .irs-hidden-input {
	display: none !important;
}
